header {
    background-color: #2268d8;
    text-align: center;
    padding: 15px;
    color: rgb(117, 190, 227);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    color: blue;
}

footer {
    background-color: #2268d8;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}